
* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px Helvetica;
}

input[type=text] {
  padding: 10px;
  width: 400px;
  border-radius: 3px;
  border: 1px solid #eee;
  border-top-color: #ddd;
}

ul {
  margin: 0;
  padding: 0;
  width: 400px;
}

#content {
  width: 400px;
  position: relative;
}

#links {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 12px;
}

#links a {
  display: inline-block;
  text-decoration: none;
  margin: 0 3px;
  color: #0dbdff;
}

#links a:hover {
  color: #29cbff;
  border-bottom: 1px solid #ddd;
}